body {
  background: lightgrey;
}

.Showtodos {
  display: grid;
  grid-template-columns: 90fr 10fr;
  grid-template-rows: auto;
  grid-gap: 4em;
  margin: 10px;
  color: darkred;
  font-weight: bold;
  background: darkgrey;
}
