.Input {
  border: 5px solid darkred;
  border-radius: 5px 5px 5px;
  margin: 10px;
  background-color: whitesmoke;
}

.Styleinput {
  display: grid;
  grid-template-columns: 50fr 50fr;
  grid-template-rows: auto;
}
